@media screen and (max-width: 700px) {
  .MuiListItemText-root{
    display: none;
  }
  .MuiListItemIcon-root{
    min-width: 0px !important;
  }

.makeStyles-toolbarItem1-5{
  height:323px;
}
.MuiTypography-h5 {
font-size:1.2rem;
}
}

body{
  margin: 0px !important;
  overflow-x: hidden;
  color: #0c1d7b;
  margin: auto;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #fafafa;
}
